
/*
too dangerous for a not nice IE thing
body {
		 overflow:hidden;
	}

*/

#explorer {
  font-size:9pt;
  font-family: Verdana, sans-serif;
  white-space:nowrap;
  margin:0px;
  padding:5px;
}
#explorer a {
  text-decoration:none;
  color:#000000;
}
#explorer a:active,
#explorer a:focus {
  color:white; 
  background:#000080;
  text-decoration:none;
}
#explorer a:hover {
  text-decoration:underline;
}

/* gif is needed for transparency under IE , images are supposed to be 16x16px*/

li.home {
  list-style:circle inside  url('icons/home.gif') ;
}
li.open {
  list-style:circle inside  url('icons/open.gif') ;
}
li.close {
  list-style:disc inside  url('icons/close.gif') ;
}
li.pdf {
  list-style:none inside  url('icons/pdf.gif') ;
}
li.jpg {
  list-style:none inside  url('icons/image.gif') ;
}
li.gif {
  list-style:none inside  url('icons/image.gif') ;
}
li.png {
  list-style:none inside  url('icons/image.gif') ;
}
li.xsl {
  list-style:none inside  url('icons/script.gif') ;
}
li.js {
  list-style:none inside  url('icons/script.gif') ;
}
li.css {
  list-style:none inside  url('icons/script.gif') ;
}
li.java {
  list-style:none inside  url('icons/script.gif') ;
}
li.class {
  list-style:none inside  url('icons/script.gif') ;
}
li {
  list-style:none inside  url('icons/file.gif');
}
ul.explorer {
  margin-top:0px; 
  margin-bottom:0px;
  margin-left:1ex;
  padding-left:1ex;
  border-left:dotted 1px;
}
